In [21]:
import pandas as pd
import numpy as np
import glob

In [20]:
def read_RaisD(f,chrm):
    df =  pd.read_table(f, skiprows=1, header=None, names=['Poss','Start', 'End', 'Pi','SFS', 'LD','Mu'])
    df['Chr'] = chrm
    df = df[['Chr', 'Start', 'End', 'Mu']]
    return df

In [106]:
chr1 = read_RaisD('RAiSD_Report.C1_Chr1.out','Chr1')
chr2 = read_RaisD('RAiSD_Report.C1_Chr2.out','Chr2')
chr3 = read_RaisD('RAiSD_Report.C1_Chr3.out','Chr3')
chr4 = read_RaisD('RAiSD_Report.C1_Chr4.out','Chr4')
chr5 = read_RaisD('RAiSD_Report.C1_Chr5.out','Chr5')
chr6 = read_RaisD('RAiSD_Report.C1_Chr6.out','Chr6')
chr7 = read_RaisD('RAiSD_Report.C1_Chr7.out','Chr7')
chr8 = read_RaisD('RAiSD_Report.C1_Chr8.out','Chr8')
chr9 = read_RaisD('RAiSD_Report.C1_Chr9.out','Chr9')
chr10 = read_RaisD('RAiSD_Report.C1_Chr10.out','Chr10')
chr11 = read_RaisD('RAiSD_Report.C1_Chr11.out','Chr11')
chr12 = read_RaisD('RAiSD_Report.C1_Chr12.out','Chr12')

In [77]:
def read_Omega(f,chrm):
    df =  pd.read_table('OmegaPlus_Report.Chr1_selection', skiprows=2, header=None, names=['Poss','Omega','Start', 'End','valid'])
    df['Chr'] = chrm
    df = df[['Chr', 'Start', 'End', 'Omega']]
    return df

In [107]:
chr1_o = read_Omega('OmegaPlus_Report.Chr1_selection','chr1')
chr2_o = read_Omega('OmegaPlus_Report.Chr2_selection','chr2')
chr3_o = read_Omega('OmegaPlus_Report.Chr3_selection','chr3')
chr4_o = read_Omega('OmegaPlus_Report.Chr4_selection','chr4')
chr5_o = read_Omega('OmegaPlus_Report.Chr5_selection','chr5')
chr6_o = read_Omega('OmegaPlus_Report.Chr6_selection','chr6')
chr7_o = read_Omega('OmegaPlus_Report.Chr7_selection','chr7')
chr8_o = read_Omega('OmegaPlus_Report.Chr8_selection','chr8')
chr9_o = read_Omega('OmegaPlus_Report.Chr9_selection','chr9')
chr10_o = read_Omega('OmegaPlus_Report.Chr10_selection','chr10')
chr11_o = read_Omega('OmegaPlus_Report.Chr12_selection','chr11')
chr12_o = read_Omega('OmegaPlus_Report.Chr13_selection','chr12')

In [108]:
C1_om_full = chr1_o.append(chr2_o)
C1_om_full = C1_om_full.append(chr3_o)
C1_om_full = C1_om_full.append(chr4_o)
C1_om_full = C1_om_full.append(chr5_o)
C1_om_full = C1_om_full.append(chr6_o)
C1_om_full = C1_om_full.append(chr7_o)
C1_om_full = C1_om_full.append(chr8_o)
C1_om_full = C1_om_full.append(chr9_o)
C1_om_full = C1_om_full.append(chr10_o)
C1_om_full = C1_om_full.append(chr11_o)
C1_om_full = C1_om_full.append(chr12_o)
C1_om_full = C1_om_full.where(C1_om_full.Start != 0).dropna().drop_duplicates()
C1_om_full.to_csv('Full_om_C1.txt', header = True, index = False, sep = '\t')

In [109]:
C1_om_full.where(C1_om_full.Start != 0).dropna().drop_duplicates()

         Chr      Start        End     Omega
290     chr1    37988.0   102935.0  1.144486
291     chr1    37988.0   159851.0  1.068481
292     chr1    37988.0   159851.0  1.061447
297     chr1    37988.0   159851.0  1.055511
298     chr1    37988.0   159851.0  1.050424
...      ...        ...        ...       ...
73978  chr12  5672705.0  5688053.0  1.317071
74090  chr12  5673924.0  5782400.0  1.415851
74674  chr12  5673897.0  5826824.0  1.138874
75072  chr12  5672705.0  5857045.0  1.179170
75073  chr12  5673897.0  5857128.0  1.195323

[33684 rows x 4 columns]

In [100]:
def read_sweed(f,chrm):
    df =  pd.read_table('SweeD_Report.Chr1selection', skiprows=2, header=0)
    df['Chr'] = chrm
    df = df[['Chr', 'StartPos', 'EndPos', 'Likelihood']]
    return df

In [110]:
chr1_s = read_sweed('SweeD_Report.Chr1selection','chr1')
chr2_s = read_sweed('SweeD_Report.Chr2selection','chr2')
chr3_s = read_sweed('SweeD_Report.Chr3selection','chr3')
chr4_s = read_sweed('SweeD_Report.Chr4selection','chr4')
chr5_s = read_sweed('SweeD_Report.Chr5selection','chr5')
chr6_s = read_sweed('SweeD_Report.Chr6selection','chr6')
chr7_s = read_sweed('SweeD_Report.Chr7selection','chr7')
chr8_s = read_sweed('SweeD_Report.Chr8selection','chr8')
chr9_s = read_sweed('SweeD_Report.Chr9selection','chr9')
chr10_s = read_sweed('SweeD_Report.Chr10selection','chr10')
chr11_s = read_sweed('SweeD_Report.Chr11selection','chr11')
chr12_s = read_sweed('SweeD_Report.Chr12selection','chr12')

In [111]:
full_sweed = chr1_s.append(chr2_s)
full_sweed = full_sweed.append(chr2_s)
full_sweed = full_sweed.append(chr3_s)
full_sweed = full_sweed.append(chr4_s)
full_sweed = full_sweed.append(chr5_s)
full_sweed = full_sweed.append(chr6_s)
full_sweed = full_sweed.append(chr7_s)
full_sweed = full_sweed.append(chr8_s)
full_sweed = full_sweed.append(chr9_s)
full_sweed = full_sweed.append(chr10_s)
full_sweed = full_sweed.append(chr11_s)
full_sweed = full_sweed.append(chr12_s)
full_sweed = full_sweed.drop_duplicates()
full_sweed.to_csv('Full_sweed_C1.txt', header = True, index = False, sep = '\t')

In [97]:
df =  pd.read_table('SweeD_Report.Chr1selection', skiprows=2, header=0)

In [98]:
df

           Position  Likelihood     Alpha   StartPos     EndPos
0      3.798800e+04    0.166051  0.000543    37988.0    60069.0
1      3.805437e+04    0.112368  0.000545    37988.0    60069.0
2      3.812074e+04    0.058986  0.000547    37988.0    60069.0
3      3.818712e+04    0.005249  0.000548    37988.0    60069.0
4      3.825349e+04    0.000000  0.045283    37988.0    60766.0
...             ...         ...       ...        ...        ...
87670  5.856862e+06    0.000000  0.065574  5826824.0  5857045.0
87671  5.856929e+06    0.000000  0.102564  5826824.0  5857045.0
87672  5.856995e+06    0.000000  0.240000  5826824.0  5857045.0
87673  5.857061e+06    0.000000  0.750000  5857045.0  5857128.0
87674  5.857128e+06    0.163891  0.144578  5857045.0  5857128.0

[87675 rows x 5 columns]

In [64]:
chr1

        Chr    Start      End      Mu
0      Chr1      482    10268   3.419
1      Chr1      526    10492   3.285
2      Chr1      564    10508   2.455
3      Chr1      583    10518   4.138
4      Chr1     1159    10521   3.976
...     ...      ...      ...     ...
17551  Chr1  5829515  5861733   9.472
17552  Chr1  5829533  5865232   7.220
17553  Chr1  5829540  5865292   8.249
17554  Chr1  5829575  5865348   6.826
17555  Chr1  5829604  5893940  11.310

[17556 rows x 4 columns]

In [65]:
def get_uniq_regs(f,chrm,ChrLen,start,window):
    bin_start = start
    bin_end = window
    av_mu = []
    df = f
    for i in range(ChrLen + 1):
        if bin_end > ChrLen:
            continue
        else:
            bin_end = bin_start + window + 1
            mu_in_w = df.where(df.Start > bin_start).dropna()
            mu_in_w = mu_in_w.where(mu_in_w.End <= bin_end).dropna()
            mu = mu_in_w.Mu.mean()
            bin_start = bin_start + window +1
            av_mu.append(mu)
        av_mu_df = pd.DataFrame(av_mu, columns=['av_mu'])
        Start_pos = np.arange(0,ChrLen,window)
        End_pos = Start_pos + window
        final_df = pd.DataFrame(Start_pos,columns=['Start_pos'])
        final_df['End_pos'] = End_pos
        final_df['av_mu'] = av_mu_df.av_mu
        final_df['Chr'] = chrm
        final_df = final_df[['Chr','Start_pos','End_pos','av_mu']].fillna(0)
        final_df = final_df
    return final_df

In [67]:
chr1_true = get_uniq_regs(chr1, 'Chr1', 5917797,0,100000)
chr2_true = get_uniq_regs(chr2, 'Chr2', 5608903,0,100000)
chr3_true = get_uniq_regs(chr3, 'Chr3', 5204673,0,100000)
chr4_true = get_uniq_regs(chr4, 'Chr4', 4483619,0,100000)
chr5_true = get_uniq_regs(chr5, 'Chr5', 4379536,0,100000)
chr6_true = get_uniq_regs(chr6, 'Chr6', 3318494,0,100000)
chr7_true = get_uniq_regs(chr7, 'Chr7', 3273176,0,100000)
chr8_true = get_uniq_regs(chr8, 'Chr8', 2553250,0,100000)
chr9_true = get_uniq_regs(chr9, 'Chr9', 2371439,0,100000)
chr10_true = get_uniq_regs(chr10, 'Chr10', 2252530,0,100000)
chr11_true = get_uniq_regs(chr11, 'Chr11', 2056362,0,100000)
chr12_true = get_uniq_regs(chr12, 'Chr12', 1287609,0,100000)

In [69]:
full_Raid_circos = chr1_true.append(chr2_true)
full_Raid_circos = full_Raid_circos.append(chr3_true)
full_Raid_circos = full_Raid_circos.append(chr4_true)
full_Raid_circos = full_Raid_circos.append(chr5_true)
full_Raid_circos = full_Raid_circos.append(chr6_true)
full_Raid_circos = full_Raid_circos.append(chr7_true)
full_Raid_circos = full_Raid_circos.append(chr8_true)
full_Raid_circos = full_Raid_circos.append(chr9_true)
full_Raid_circos = full_Raid_circos.append(chr10_true)
full_Raid_circos = full_Raid_circos.append(chr11_true)
full_Raid_circos = full_Raid_circos.append(chr12_true)
full_Raid_circos

      Chr  Start_pos  End_pos         av_mu
0    Chr1          0   100000  1.414557e+00
1    Chr1     100000   200000  4.521905e-12
2    Chr1     200000   300000  2.992199e+00
3    Chr1     300000   400000  7.754063e-01
4    Chr1     400000   500000  0.000000e+00
..    ...        ...      ...           ...
8   Chr12     800000   900000  1.091421e+01
9   Chr12     900000  1000000  5.857446e+00
10  Chr12    1000000  1100000  4.554333e+01
11  Chr12    1100000  1200000  3.668935e-02
12  Chr12    1200000  1300000  3.467482e+00

[433 rows x 4 columns]

In [12]:
C1_chr1 =  pd.read_table('RAiSD_Report.C1_Chr1.out', skiprows=1, header=None, names=['Poss','Start', 'End', 'Pi','SFS', 'LD','Mu'])
C1_chr1['Chr'] = 'Chr1'
C1_chr1 = C1_chr1[['Chr', 'Start', 'End', 'Mu']]
C1_chr1

        Chr    Start      End      Mu
0      Chr1      482    10268   3.419
1      Chr1      526    10492   3.285
2      Chr1      564    10508   2.455
3      Chr1      583    10518   4.138
4      Chr1     1159    10521   3.976
...     ...      ...      ...     ...
17551  Chr1  5829515  5861733   9.472
17552  Chr1  5829533  5865232   7.220
17553  Chr1  5829540  5865292   8.249
17554  Chr1  5829575  5865348   6.826
17555  Chr1  5829604  5893940  11.310

[17556 rows x 4 columns]

In [56]:
def get_uniq_regs(f,chrm,ChrLen,start,window):
    bin_start = start
    bin_end = window
    av_mu = []
    df = f
    for i in range(ChrLen + 1):
        if bin_end > ChrLen:
            continue
        else:
            bin_end = bin_start + window + 1
            mu_in_w = df.where(df.Start > bin_start).dropna()
            mu_in_w = mu_in_w.where(mu_in_w.End <= bin_end).dropna()
            mu = mu_in_w.Mu.mean()
            bin_start = bin_start + window +1
            av_mu.append(mu)
        av_mu_df = pd.DataFrame(av_mu, columns=['av_mu'])
        Start_pos = np.arange(0,ChrLen,window)
        End_pos = Start_pos + window
        final_df = pd.DataFrame(Start_pos,columns=['Start_pos'])
        final_df['End_pos'] = End_pos
        final_df['av_mu'] = av_mu_df.av_mu
        final_df['Chr'] = chrm
        final_df = final_df[['Chr','Start_pos','End_pos','av_mu']].fillna(0)
        final_df = final_df
    return final_df

In [70]:
#get_uniq_regs(C1_chr1, 'Chr1', 5917797,0,1000)
C1_chr1.where(C1_chr1.Start > 1).dropna()
C1_chr1.where(C1_chr1.End < 100000).dropna()

      Chr    Start      End      Mu
0    Chr1    482.0  10268.0  3.4190
1    Chr1    526.0  10492.0  3.2850
2    Chr1    564.0  10508.0  2.4550
3    Chr1    583.0  10518.0  4.1380
4    Chr1   1159.0  10521.0  3.9760
..    ...      ...      ...     ...
792  Chr1  95539.0  97564.0  0.3836
793  Chr1  95557.0  98205.0  0.5719
794  Chr1  95596.0  98486.0  0.5987
795  Chr1  95602.0  98524.0  0.6244
796  Chr1  95605.0  98579.0  0.5135

[797 rows x 4 columns]

In [59]:
c1__chr1_true = get_uniq_regs(C1_chr1, 'Chr1', 5917797,0,100000)
c1__chr1_true

     Chr  Start_pos  End_pos         av_mu
0   Chr1          0   100000  1.414557e+00
1   Chr1     100000   200000  4.521905e-12
2   Chr1     200000   300000  2.992199e+00
3   Chr1     300000   400000  7.754063e-01
4   Chr1     400000   500000  0.000000e+00
5   Chr1     500000   600000  0.000000e+00
6   Chr1     600000   700000  1.057380e-09
7   Chr1     700000   800000  8.656659e-10
8   Chr1     800000   900000  1.004099e+00
9   Chr1     900000  1000000  1.599220e+00
10  Chr1    1000000  1100000  0.000000e+00
11  Chr1    1100000  1200000  0.000000e+00
12  Chr1    1200000  1300000  1.061014e+00
13  Chr1    1300000  1400000  0.000000e+00
14  Chr1    1400000  1500000  7.741766e-01
15  Chr1    1500000  1600000  0.000000e+00
16  Chr1    1600000  1700000  0.000000e+00
17  Chr1    1700000  1800000  0.000000e+00
18  Chr1    1800000  1900000  0.000000e+00
19  Chr1    1900000  2000000  3.133522e-10
20  Chr1    2000000  2100000  4.898076e-01
21  Chr1    2100000  2200000  1.649849e+00
22  Chr1    2200000  2300000  1.212326e+00
23  Chr1    2300000  2400000  0.000000e+00
24  Chr1    2400000  2500000  8.419933e-01
25  Chr1    2500000  2600000  1.991150e-01
26  Chr1    2600000  2700000  1.751789e+01
27  Chr1    2700000  2800000  9.310893e+00
28  Chr1    2800000  2900000  1.480131e+01
29  Chr1    2900000  3000000  8.734288e-01
30  Chr1    3000000  3100000  2.248810e+00
31  Chr1    3100000  3200000  5.375951e+00
32  Chr1    3200000  3300000  2.833217e+00
33  Chr1    3300000  3400000  8.790750e+00
34  Chr1    3400000  3500000  9.519219e-10
35  Chr1    3500000  3600000  5.063759e+00
36  Chr1    3600000  3700000  2.490766e+00
37  Chr1    3700000  3800000  1.096552e+00
38  Chr1    3800000  3900000  8.247638e-01
39  Chr1    3900000  4000000  1.371799e+00
40  Chr1    4000000  4100000  7.053707e-01
41  Chr1    4100000  4200000  1.055192e+00
42  Chr1    4200000  4300000  8.239870e+00
43  Chr1    4300000  4400000  0.000000e+00
44  Chr1    4400000  4500000  0.000000e+00
45  Chr1    4500000  4600000  0.000000e+00
46  Chr1    4600000  4700000  5.949678e-01
47  Chr1    4700000  4800000  0.000000e+00
48  Chr1    4800000  4900000  1.592511e+01
49  Chr1    4900000  5000000  9.716573e-01
50  Chr1    5000000  5100000  2.086167e+00
51  Chr1    5100000  5200000  1.753739e+00
52  Chr1    5200000  5300000  2.013375e+01
53  Chr1    5300000  5400000  1.069914e+00
54  Chr1    5400000  5500000  2.344553e+00
55  Chr1    5500000  5600000  1.457001e+01
56  Chr1    5600000  5700000  2.901884e+00
57  Chr1    5700000  5800000  0.000000e+00
58  Chr1    5800000  5900000  4.231742e+00
59  Chr1    5900000  6000000  0.000000e+00

In [60]:
c1__chr1_true.sort_values('av_mu')

     Chr  Start_pos  End_pos         av_mu
59  Chr1    5900000  6000000  0.000000e+00
16  Chr1    1600000  1700000  0.000000e+00
15  Chr1    1500000  1600000  0.000000e+00
13  Chr1    1300000  1400000  0.000000e+00
45  Chr1    4500000  4600000  0.000000e+00
11  Chr1    1100000  1200000  0.000000e+00
10  Chr1    1000000  1100000  0.000000e+00
17  Chr1    1700000  1800000  0.000000e+00
44  Chr1    4400000  4500000  0.000000e+00
43  Chr1    4300000  4400000  0.000000e+00
5   Chr1     500000   600000  0.000000e+00
4   Chr1     400000   500000  0.000000e+00
23  Chr1    2300000  2400000  0.000000e+00
57  Chr1    5700000  5800000  0.000000e+00
47  Chr1    4700000  4800000  0.000000e+00
18  Chr1    1800000  1900000  0.000000e+00
1   Chr1     100000   200000  4.521905e-12
19  Chr1    1900000  2000000  3.133522e-10
7   Chr1     700000   800000  8.656659e-10
34  Chr1    3400000  3500000  9.519219e-10
6   Chr1     600000   700000  1.057380e-09
25  Chr1    2500000  2600000  1.991150e-01
20  Chr1    2000000  2100000  4.898076e-01
46  Chr1    4600000  4700000  5.949678e-01
40  Chr1    4000000  4100000  7.053707e-01
14  Chr1    1400000  1500000  7.741766e-01
3   Chr1     300000   400000  7.754063e-01
38  Chr1    3800000  3900000  8.247638e-01
24  Chr1    2400000  2500000  8.419933e-01
29  Chr1    2900000  3000000  8.734288e-01
49  Chr1    4900000  5000000  9.716573e-01
8   Chr1     800000   900000  1.004099e+00
41  Chr1    4100000  4200000  1.055192e+00
12  Chr1    1200000  1300000  1.061014e+00
53  Chr1    5300000  5400000  1.069914e+00
37  Chr1    3700000  3800000  1.096552e+00
22  Chr1    2200000  2300000  1.212326e+00
39  Chr1    3900000  4000000  1.371799e+00
0   Chr1          0   100000  1.414557e+00
9   Chr1     900000  1000000  1.599220e+00
21  Chr1    2100000  2200000  1.649849e+00
51  Chr1    5100000  5200000  1.753739e+00
50  Chr1    5000000  5100000  2.086167e+00
30  Chr1    3000000  3100000  2.248810e+00
54  Chr1    5400000  5500000  2.344553e+00
36  Chr1    3600000  3700000  2.490766e+00
32  Chr1    3200000  3300000  2.833217e+00
56  Chr1    5600000  5700000  2.901884e+00
2   Chr1     200000   300000  2.992199e+00
58  Chr1    5800000  5900000  4.231742e+00
35  Chr1    3500000  3600000  5.063759e+00
31  Chr1    3100000  3200000  5.375951e+00
42  Chr1    4200000  4300000  8.239870e+00
33  Chr1    3300000  3400000  8.790750e+00
27  Chr1    2700000  2800000  9.310893e+00
55  Chr1    5500000  5600000  1.457001e+01
28  Chr1    2800000  2900000  1.480131e+01
48  Chr1    4800000  4900000  1.592511e+01
26  Chr1    2600000  2700000  1.751789e+01
52  Chr1    5200000  5300000  2.013375e+01

In [4]:
df.Mu.mean()

3.8787946110277653